body {
    background-image: url("/images/background2.webp");
    background-position: center ;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: black;
    font-family: optima ;
}

h1 {
    display: table;
    position: absolute;
    text-align: center;
    top: 25%;
    left: 40%;
    margin: 0px auto 0px auto;
    background-color: pink;
    opacity: .8;
}
.TicTacToe {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    font-size: 30;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

.TicTacToe > div {
    width: 50px;
    height: 50px;
    border: 3px solid black;
    text-align: center;
    
}
.TicTacToe > div:nth-child(odd) {
    background-color: white;

}
.TicTacToe > div:nth-child(even) {
    background-color: pink;

}
.Blog {
    text-align: center;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
#NavBox {
    text-align: center;
    position: absolute;
    top: 85%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
  }