body {
    background-color: black;
    font-family: optima ;
    color: white;
    padding:0;
    margin:0;
    /* height: 1000px; */
}

.brickgametable {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
    border: 1px solid white;
    height: 350px;
}

.SCORE {
    text-align: right;
    /* grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 2; */
    border: 1px solid white;
    /* width: 1090px;
    height: 50px; */
    width: 100vw;
}
.redminis {
    /* width: 100px;
    height: 50px; */
    border: 1px solid white;
    text-align: center;
    background-color: red;

}
.yellowminis {
    /* width: 100px;
    height: 50px; */
    border: 1px solid white;
    text-align: center;
    background-color: yellow;
}
.blackbox1 {
    /* width: 100px;
    height: 50px; */
    border: 1px solid white;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
    text-align: center;
}
.square {
    width: 15px;
    height: 15px;
    background-color: white;
}
.blackbox2 {
    /* width: 100px;
    height: 50px; */
    border: 1px solid white;
    grid-column-start: 9;
    grid-column-end: 11;
    grid-row-start: 3;
    grid-row-end: 5;
    text-align: center;
    display: flex;
    justify-content:end;
}
.greenminis {
    /* width: 100px;
    height: 50px; */
    border: 1px solid white;
    text-align: center;
    background-color: green;
}
.blueSquares {
    /* width: 100px;
    height: 50px; */
    border: 1px solid white;
    text-align: center;
    background-color: blue;
}

#three {
   margin-left: 100px;
   margin-top: 25px;
}